table {
    margin: auto;
  }
  table td, table th {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  .desktoptable tbody tr:nth-child(even) {
    background: #e2d7d7;
  }
  .generated_for_mobile tr.even {
    background: #e2d7d7;
  }
  .generated_for_mobile {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    .generated_for_mobile {
      display: table;
    }
    .desktoptable {
      display: none;
    }
  }
  