table {
    margin: auto;
  }
.link:after {
    content: '🔗';
  }    
  table td, table th {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  .desktoptable tbody tr:nth-child(even) {
    background: #e2d7d7;
  }
  .generated_for_mobile tr.even {
    background: #e2d7d7;
  }
  .generated_for_mobile {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    .generated_for_mobile {
      display: table;
    }
    .desktoptable {
      display: none;
    }
  }

  p {
    text-align: center;
  }

  .totop {
    background-image: url('/assets/img/up-arrow.png');
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
    width: 20px;
    height: 20px;
    background-color: black;
    bottom: 0;
    right: 0;
    margin: 30px 40px;
    position: fixed;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    display:none;
  }
  
